body {
   background-image: url("plead.jpeg");
   background-size: cover;
  
}
#header {
       text-align: center;
        border-bottom-width: 1px;
       border-bottom-style: dotted; 
        border-width: 4px;
         border-bottom-style: 4px dotted;
         color: white;
}

#list {
 border-width: 4px;
 border-style: dotted;
 padding: 15px;
 padding-bottom: 0px;
 margin-left: 10%;
 border-color: white;
 margin-bottom: 0px;
}


h1 {
      font-family: "Pixelify Sans", sans-serif;

}

p {
   color: white;
    font-family: "Pixelify Sans", sans-serif; 
}

h2 {
color: white;
border-style: dotted; 
        border-width: 4px;
}

img{
  width: 25%;
  height: 5%;
  border-width: 5px;
  border-style: dotted;
  border-color: white; 
  display: block;
  margin-left: 25%;
  margin-right: 25%;
}

a {
  color: white;
  font-family: "Pixelify Sans", sans-serif;
}

#navlinks {
  position: fixed;
}
#footer {
     text-align: center;
         color: white;
         background-color: black;
         padding-bottom: 0px;
         
}